# Byte-compiled / optimized / DLL files
__pycache__/
.vscode/
*.py[cod]
*$py.class

# data folder
data/
# data folder and all children
data/**
data/**/*
data/**/**/*

*.eaf
**/*.eaf



.DS_Store

.idea/
.idea/workspace.xml
/data
*.eaf
